:root {
  font-size: 16px;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  color: var(--text-primary);
  background-color: var(--bg-primary);
  font-family: 'Zen Maru Gothic', sans-serif;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: scroll;
  z-index: 9999;
}

.navbar::-webkit-scrollbar {
  display: none;
  width: 0;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    padding: 0;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }


  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
} 

/* carousel button */
.carousel-control-prev {
  opacity: 0.1;
}

.carousel-control-next {
  opacity: 0.1;
}

/* about section */
.about {
  background-color: var(--bg-primary);
  padding: 2rem 0 2rem;
  height: 40vh;
  display: grid;
}

.about-container {
  display: grid;
  align-content: center;
}

.about-content {
  text-align: center;
}

.about-title {
  font-size: 3rem;
  margin: 1rem 0;
}

.about-description {
  font-size: 1.15rem;
}

/* project section */
.project {
  margin-top: 10rem;
}
iframe {
  width: 100%;
  height: 350px;
}

.project-title {
  margin-bottom: 3rem;
}

/* gallery section */
.gallery {
  margin: 10rem 0;
}

.gallery-title {
  text-align: center;
  margin-bottom: 3rem;
}

.card {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.gallery img {
  height: 500px;
}

/* form */
.contact {
  padding: 50px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* footer */
.card-footer {
  padding: 40px 0;
  background-color: #c7c3c3;
  color: #4b4c4d;
  opacity: 0.5;
}

.card-footer .social {
  text-align: center;
}

.card-footer .social > a {
  font-size: 24px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.card-footer .social > a:hover {
  opacity: 1;
}

.card-footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #595757;
  margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  .card-footer {
    padding: 80px 0;
  }
}

